*{
    margin: 0;
    font-family: Roboto;
}

header{
    display: flex;
    justify-content: space-around;
    background-color: #1f2937;
    padding:15px;
}

.logo{
    font-size: 24px;

}

.logo h3{
    color: #f9faf8;
    font-weight: 700;
}

.menu{
    display: flex;
    align-items:  center;
    gap: 30px;
}

.menu h3, .left_side h3{
    font-size: 18px;
    color: #E5E7EB;
    font-weight: 300;
}

.under_header{
    display: flex;
    justify-content:center;
    padding: 100px 350px;
    background-color: #1f2937;
    height: 300px;
    gap: 100px;
}

.left_side{
    flex:1;
    padding-right: 50px;
}

.left_side h2{
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

button{
    background-color: #3882F6;
    outline: none;
    border: none;
    padding: 7px 40px;
    border-radius: 5px;
    color:white;
    font-weight: 500;
    margin-top:10px;
}

.right_side{
    background-color: grey;
    flex:1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.right_side p{
    color:white;
}

.main_top{
    background-color: white;
    text-align: center;
    margin-bottom: 100px;
}

.main_top h2{
    margin: 50px 0;
}

.main_top_items{
    display: flex;
    justify-content: center;
    gap: 50px;
}

.item{
    width: 120px;
}

.item p{
    margin-top: 10px;
}
.box_placeholder{
    width: 120px;
    height: 120px;
    border: 3px solid #3882F6;
    border-radius: 10px;
}